<!DOCTYPE html>
<html>
  <head>
    <title>Myapphome</title>
  </head>
  <body>
    <h1>StaticPages#myapphome</h1>
    <p>
      this is thrid application made by huushihi. <br>
      this app has two page. "/static_pages/home" and "/static_pages/help" <br>
    <a href = "https://floating-headland-60456.herokuapp.com/"> first app "hello world"</a> <br>
    <a href = "https://dry-mesa-76864.herokuapp.com/"> second app "users and content"</a> <br>
    </p>
    <br>
    ↓my account <br>
    <a href = "https://twitter.com/huushihi2"> twitter account</a> <br>
    <br>
    <br>
    last update 2016/12/04
  </body>
</html>
