<h1>StaticPages#myapphome</h1>
<p>
this is first application made by huushihi. <br>
this app has two page. <br>
</p>
<br>
↓my account <br>
<a href = "https://twitter.com/huushihi2"> twitter account</a> <br>
<br>
<br>
last update 2016/12/04