<h1>StaticPages#myapphome</h1>
<p>
this is first application made by huushihi. <br>
this app has two page. <br>
</p>
<li>  <a href="https://mysterious-river-24885.herokuapp.com/static_pages/home"> home page </a> </li>
<li>  <a href="https://mysterious-river-24885.herokuapp.com/static_pages/help"> help page </a> </li>
<br>
↓my account <br>
<a href = "https://twitter.com/huushihi2"> twitter account</a> <br>
<br>
<br>
last update 2016/12/04